@model Reservation

@{
    ViewData["Title"] = (Model.Id != 0 ? "Change" : "New") + " Reservation";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">

<div class="border p-3 mt-4 row">
    <div class="row pb-2">
        <h2 class="text-primary">@(Model.Id != 0 ? "Change" : "New") Reservation</h2>
        <hr />
    </div>
    <div asp-validation-summary="All"></div>
    <input asp-for="Id" hidden />
    <input asp-for="TableNumber" hidden />
    <div class="mb-3">
        <label asp-for="GuestName"></label>
        <input asp-for="GuestName" class="form-control" />
        <span asp-validation-for="GuestName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="GuestPhone"></label>
        <input asp-for="GuestPhone" rows="3" class="form-control"></input>
        <span asp-validation-for="GuestPhone" class="text-danger"></span>
    </div>

    <div class="mb-3 col-6">
        <label asp-for="ReservationTime"></label>
        <input asp-for="ReservationTime" class="form-control" asp-format="{0:yyyy-MM-ddTHH:mm}" />
        <span asp-validation-for="ReservationTime" class="text-danger"></span>
    </div>
    <div class="mb-3 col-6">
        <label asp-for="DurationMinute"></label>
        <input asp-for="DurationMinute" class="form-control" disabled />
        <span asp-validation-for="DurationMinute" class="text-danger"></span>
    </div>
    
    <div class="mb-3 col-12">
        @if (Model.Id != 0)
            {
                <button type="submit" class="btn btn-primary" style="width:150px">Change</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
            }
        <a asp-controller="Reservation" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</div>

</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}